@page
@model TermProject.Pages.IndexModel


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Agent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a asp-page="./Trips">Trips</a> |
                <a asp-page="./CreateTrip">New Trip</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
