@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Back</h1>
    <h2>Select an Agent:</h2>
    <h3>Emely Guerrero</h3>
    <h3> Prof. </h3>
</div>
